apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv       
spec:
  capacity:
    storage: 2Gi            
  accessModes:
    - ReadWriteOnce         
  storageClassName: azure-disk   
  persistentVolumeReclaimPolicy: Retain   
  azureDisk:
    kind: Managed
    diskName: wanderlust-AzureDisk    
    diskURI: /subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Compute/disks/wanderlust-AzureDisk 
