apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-pvc
spec:
  storageClassName: azure-disk 
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi         
